<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>hosp</title>
    <style>
    </style>
</head>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<script src='/js/jquery-3.2.1.min.js'></script>
<script src='/js/jquery.form.min.js'></script>
<script src="/js/bootstrap.min.js"></script>
<body>
<div id="topbar"></div>
<div style="padding: 200px 500px 10px;">
    <form class="bs-example bs-example-form" role="form" action="search" method="get">
        <div class="row">
            <div class="input-group">
                <input name="key" type="text" class="form-control" placeholder="what's wrong with you?">
                <span class="input-group-btn">
                        <input class="btn btn-default" type="submit" value="search"/>
                </span>
            </div>
        </div>
    </form>
</div>
<script>
    $("#topbar").load("/topbar.html");
</script>
</body>
</html>